# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
node_modules
/wp-content/updraft/
/wp-content/upgrade/
/wp-content/plugins/