/*==========  PRE-FOOTER SECTION  ==========*/

.pre-footer {
	background:$gray-base +10;
	

	.light-text {
		h3 {
			color:white;
		}
	}

	a {
		color:$primary + 40;
	}

	/* PreFooter Call to Action */

	.pre-footer-cta {
		text-align: center;
		margin-bottom: 1em;
		padding-bottom: 3em;
		border-bottom: 2px solid $gray-lighter;

		img {
			max-width: 250px;
			@media(max-width:$screen-sm) {
				max-width: 200px;
			}
		}

		h3 {
			font-size: 2.2em;
			margin-bottom: 1em;

			&:before {
				content:' – ';
			}
			&:after {
				@extend :before
			}
		}

		button {
			transition: 0.2s all;
			border-radius:0;
			background:$gray-darker;
			color:$gray-lighter;

			@media (min-width:$screen-sm) {
				width:200px;
			}

			&:hover {
				transition: 0.2s all;
				background:$gray-darker + 30;
			}

			&.first {
				color:$gray-darker;
				background:$green;
				border-color:$gray-darker;
				margin-right: 1em;

				&:hover {
					background:$green-hover;
				}
			}
		}
	}

	/* About Novastar section */

	.pre-footer-about {
		img {
			display: inline-block;
			padding:1em;
			max-height: 8em;
			max-width: 100%;
		}
	}


	/* Custom Menu */
	
	.menu {
		padding-left:0;

		li {
			list-style-type: none;

			@media (max-width:$screen-lg) {
				display: inline-block;
			}
		}

		a {
			display: inline-block;
			padding:0.25em 2em 0.25em 0.8em;
			margin:0.25em 0.2em;
			border-left: 0.2em solid $primary;
			background:$gray-darker + 20;

			&:hover {
				background:$gray-darker + 40;
			}
		}
	}


	/* Social Icons */

	.social-icons {

		figure {
			position: relative;		

			@media (max-width:$screen-lg) {
				display: inline-block;
				width:50%;
				float: left;
				text-align: center;
			}
		}

		figcaption {
			position: absolute;
			width:75%;
			margin:0 auto;
			border-bottom: 0.2em solid $primary;
			top:50%;
			transform:translateY(-50%);
			display: inline;

			@media (max-width:$screen-lg) {
				position: relative;
				display: block;
			}
		}

		.fa {
			padding:1rem;
			font-size: 4em;
			transition: 0.3s all;
			&:hover {
				transition: 0.3s all;
			}
			@media (max-width:$screen-lg) {
				text-align: center;
			}
		}

		.linkedin {
			&:hover {
				color:$linkedin;
			}
		}
		.twitter {
			&:hover {
				color:$twitter;
			}
		}
	}


	/* News Widgets */

	.widget_recent_entries {
		ul {
		padding-left:1em;
			li {
				line-height: 1.5em;
				@include mylist($primary)
			}
		}
		.post-date {
			color:$gray-light;
			font-size:0.8em;

			&:before {
				content:'| ';
			}
		}
	}
}



/*==========  FOOTER  ==========*/

footer {
	padding-top: 2em;
	position: relative;
	background:$gray-base - 10;

	.copyright {
		text-align: center;
		margin:0;
		color:$gray;
		font-weight:lighter;
		vertical-align:middle;
		padding-bottom: 2em;

		img {
			vertical-align: inherit;
		}
	}
}