/*==========  POST ARCHIVE PAGE STYLING  ==========*/

.archive-header {
  h1 {
    text-align: center;
    font-size: 4em;
  }
}

$post-padding:1em;

.the-post {
  overflow: hidden;
  border-radius: $post-padding;
  position: relative;
  background: $gray-lighter;
  margin-bottom: 2em;
  padding:0;
  border-top: 0.3em solid $primary;
  border-bottom: 1em solid $primary;

  a.permalink {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 1000;
    transition: 0.3s all;

    &:hover {
      transition: 0.3s all;
      background:rgba(255,255,255,0.3);
    }
  }

  .featured-image {
    position: relative;
    overflow: hidden;
    max-height:10em;

    @media (min-width:$screen-sm) {
       height:10em;
    }

    img {
      transition: 0.5s all;  
      width: 100%;
      height:auto;
      position: absolute;
      top:50%;
      left:0;

      @media (min-width:$screen-sm) {
       transform: translateY(-50%);
      }

      @media (max-width:$screen-sm) {
       position: relative;
      }
    }
  }

  @media (min-width:$screen-sm) {
    &:hover {
      img {
        margin-top: -0.3em;  
        transition: 0.3s all;     
      } 
    }
  }

  .entry-title {
    margin:0;
    padding:0.5em 1em;
    background:$gray;

    @media (max-width:$screen-xs) {
      padding:0.5em;
    }

    a {
      color:white;
    }
  }

  ul.post-categories {
    text-align: center;
    padding:0.2em 0;
    background:$gray-light;

    li {
      padding-right: 0.3em;
      display:inline-block;
      color:$gray-base;

      &:first-child {
        padding-left: 0.5em;
      }

      &:not(:last-child):after {
        padding-left: 0.3em;
        font-weight: bold;
        content:' /';
      }

      a {
        color:$gray-base;
      }
    }
  }

  time.updated {
    display:inline;
    color:$cta;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 0.2em;
    padding-left: $post-padding;

    @media(max-width:$screen-sm) {
      display:block;
    }
  }

  .entry-summary {
    padding:0 $post-padding $post-padding $post-padding;
  }
}

.archive-sidebar {
  .widget li {
    @include mylist($secondcolor);
  }
}