/*==========  IT SERVICES PAGE  ==========*/

.itservices {
	.section {
		div.info {
			background:$gray-lighter;
			padding: 1em 1em 3em 1em;
			border-bottom: 1em solid $primary;
			margin-bottom: 2em;
		}
	}
}
