/*==========  NEW HARDWARE PAGE  ==========*/
$product-height:12em;

.new-hardware {

	.products-listing {
		> li {
			display: block;
		}
	}
	
	article {
		margin-bottom: 2em;
		border-radius: 1em;
		border-bottom: 1em solid $primary;

		@media (max-width:$screen-lg) {
			// height:$product-height;
		}
		@media (max-width:$screen-md) {
			// height:$product-height;
		}
		@media (min-width:$screen-sm) {
			// height:$product-height;
		}

		background:$gray-lighter;
		padding:2em;

		.img-container {
			position: relative;
			height:$product-height;

			img {
				position: absolute;
				max-width: $product-height * 1.16;
				max-height:$product-height * 0.8;
				left:50%;
				top:50%;
				transform: translate(-50%,-50%);
			}
		}

		

		.product-title { 
			font-size: 1.2em;
			position: relative;
			background: $gray-darker;
			padding:0.2em 0.4em; 
			color:white;
			overflow: hidden;

			&:before {
				content:'';
				height:1em;
				width:3em;
				background:$gray-lighter;
				position: absolute;
				top:-0.2em;
				right:-1.5em;
				transform:rotate(45deg);
			}
		}

		.product-description {
			@media (min-width:$screen-sm) {
				height: $product-height * 0.7;
			}
		}

		button {
			margin:2em 0;
		}
	}
}

/*==========  HP Page  ==========*/
.hppage-wrapper {
	@include pattern;
	padding:5em 0;
	padding-bottom: 8em;
	margin-top: 3em;
}

.hppage {

	.partner {
		@include img-wrap(right,40%);
	}

	.video {
		background:$gray-darker;
		padding-top:1em;
		padding-bottom:1em;
	}
}

.hpproducts {
	.title {
		color:white;
		margin:0;
	}
}

.hpproduct {
	margin-top:2em;

	figure {
		border-radius:1em;
		background:red;
		height: 20em;
		position: relative;
		background-size:cover;
		background-position:left;
		border-top:0.4em solid $primary;
    	border-bottom:0.8em solid $primary - 30;
		overflow: hidden;
		
		p.lead {
			z-index: 10;
			height:50%;
			width:100%;
			font-weight: 700;
			line-height: 1em;
			padding:1em;
			top:0;
			position: absolute;
			color:$gray-base;
			background:rgba(220,220,220,0.7);

			@media (min-width:$screen-md) and (max-width:$screen-lg) {
				font-size: 2em;
			}
		}

		span.sub {
			display: block;
			font-size: 0.8em;
			font-weight: 300;
			// float:left;
			margin-top: 0.5em;
		}

		a {
			position: absolute;
			top:70%;
			left:50%;
			width:75%;
			text-align: center;
			z-index: 10;
			transform: translateX(-50%);
		}
	}
}










