/*==========  NEW HARDWARE PAGE  ==========*/
$product-height:11em;

.new-hardware {

	.products-listing {
		> li {
			display: block;
		}
	}
	
	article {
		margin-bottom: 2em;
		border-radius: 1em;
		border-bottom: 1em solid $primary;
		background:$gray-lighter;
		padding:2em;
		padding-top: 0;

		.img-container {
			position: relative;
			height:$product-height * 1.1;

			img {
				position: absolute;
				max-width: $product-height;
				left:50%;
				top:50%;
				transform: translate(-50%,-50%);
				padding: 0.5em;
			}
		}

		.product-title { 
			font-size: 1.2em;
			position: relative;
			background: $gray-darker;
			padding:0.2em 0.4em; 
			color:white;
			overflow: hidden;

			&:before {
				content:'';
				height:1em;
				width:3em;
				background:$gray-lighter;
				position: absolute;
				top:-0.2em;
				right:-1.5em;
				transform:rotate(45deg);
			}
		}

		.product-description {
			@media (min-width:$screen-sm) {
				height: $product-height;
			}
		}
	}
}
/* - - - - - - - - - - - - - - - - - - - - */

/*==========  HP Page  ==========*/
.hppage-wrapper {
	@include pattern;
	padding:5em 0;
	padding-bottom: 8em;
	margin-top: 3em;
}

.hppage {

	.partner {
		@include img-wrap(right,40%);
	}

	.video {
		background:$gray-darker;
		padding-top:1em;
		padding-bottom:1em;
	}
}

.hpproducts {
	.title {
		color:white;
		margin:0;
	}
}

.hpproduct {
	margin-top:2em;

	figure {
		border-radius:1em;
		height: 20em;
		position: relative;
		background-size:cover;
		background-position:left;
		border-top:0.4em solid $primary;
    	border-bottom:0.8em solid $primary - 30;
		overflow: hidden;
		
		p.lead {
			z-index: 10;
			height:50%;
			width:100%;
			font-weight: 700;
			line-height: 1em;
			padding:1em;
			top:0;
			position: absolute;
			color:$gray-base;
			background:rgba(220,220,220,0.7);

			@media (min-width:$screen-md) and (max-width:$screen-lg) {
				font-size: 2em;
			}
		}

		span.sub {
			display: block;
			font-size: 0.8em;
			font-weight: 300;
			// float:left;
			margin-top: 0.5em;
		}

		a {
			position: absolute;
			top:70%;
			left:50%;
			width:75%;
			text-align: center;

			z-index: 10;
			transform: translateX(-50%);
		}
	}
}

.datasheets {
	.sheet {
		position: relative;

		p {
			margin-left: 0.5em;
			border-bottom: 0.1em solid $info;
			font-weight: 400;
		}
	}
}

/* - - - - - - - - - - - - - - - - - - - - */

/*==========  CubePro Page  ==========*/

.cubepro {
	background:$gray-base;
	margin-top: -5em;
	padding:2em 0;

	.video-js  {
		padding-top: 56.25%;
	}

}

/*==========  HP Microsite Pages  ==========*/

.microsite-well {
	margin-top: 2em;
}

.serverhero {
	img {
		width:100%;
		padding-top: 5%;
		margin:0 auto;
	}
}

.centered-header {
	overflow:hidden;
	height:0;
	padding-top: 35%;

	img {
		position: absolute;
		padding:0 1em;
		top:50%;
		left:0;
		transform: translateY(-50%);
	}
}

.microsite-header {
	max-height:500px;
	overflow:hidden;
	img {
		transform: translateY(-10%);
		min-width: 100%;
	}
}

.menu-hpproducts-wrapper {
	margin-top: 1em;
	border-bottom:2px solid $gray-light;
	border-top:2px solid $gray-light;


	#menu-hpproducts {
		width:100%;
		padding:0;
		margin:0;
		display: inline;

		li {
			position: relative;
			display: inline-block;
			padding:1em 0;
			margin:0;

			
			&:before {
				content:'';
			}
		}

		a {
			margin:0;
			position: relative;
			text-transform: uppercase;
			font-weight: 400;
			padding:1em;

			&:hover {
				transition: 0.2s all;
				border-bottom: 4px solid $info;
				text-decoration: none;
			}
		}

		li.menu-contact {
			background:$green;

			a {
				transition: 0.2s all;
				color:white;

				&:hover {
					transition: 0.2s all;
					background:$green +20;
					border-bottom: 0;
					text-decoration: none;
				}
			}
		}
	}
}
/* - - - - - - - - - - - - - - - - - - - - */

/*==========  CISCO Page  ==========*/





