/*==========  SOFTWARE PAGE  ==========*/

.software {
	.item {
		overflow:hidden;
		position: relative;
		padding:2em;
		margin-bottom: 3em;
		margin-top: -2em;
		background:$gray-lighter;
		border-bottom: 1em solid $secondcolor;

		@media (max-width:$screen-md) {
			margin-top: -3em;
			padding-top: 5em;
		}

		&:before {
			position: absolute;
			top:-0.8em;
			right:-2.5em;
			content: '';
			height:2em;
			width:100em;
			background:white;
			transform:rotate(1deg);
		}

		

		img.single {
		@media (min-width:$screen-md) {
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-100%, -50%);
			max-width:40%;
		}

		@media (max-width:$screen-md) {
			max-width: 70%;
			margin:0 auto;
		}

		}

		article {
			margin-top: 2em;
			button {
				margin-top: 2em;

			}
		}
		.img-container {
			height:14em;

			@media (max-width:$screen-md) {
				height:10em;
			}
			@media (max-width:$screen-xs) {
				height:12em;
			}
		}

		div.centered-img {
			top:50%;
			position: relative;

			img {
				position: absolute;
				top:50%;
				left:50%;
				max-width: 85%;
				transform: translate(-50%,-50%);
			}
			
		}
	}
}
.software-title {
	font-family: Lato;
	text-transform:uppercase;
	position: relative;
	display:inline-block;
	z-index: 100;
	background:rgba(22, 48, 97, 0.7);
	color:white;
	// margin-left:-1em;
	padding:0.2em 1.5em;
	border-radius:0.3em;
	border-left: 0.1em solid $gray-lighter - 40;
	border-bottom: 0.1em solid $gray-lighter - 40;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - */
/*==========  Dassault Page  ==========*/

.dassault {
	.catia {
		h2 {
			color:white;
			background:rgba(37,34,122,1);
		}

		div.logo {
			@extend h2;
		}
	}
	.simulia {
		h2 {
			color:white;
			background:rgba(0,172,170,1);
		}
		div.logo {
			@extend h2;
		}
	}

	div.logo { /* vince */
		position: relative;
		padding:0.5em;
		width:100%;
		margin:0 !important;
		margin-bottom: 1em !important;

		img.logo {
			max-height:1.5em;

			@media (max-width:$screen-sm) {
				max-height:1.2em;
			}
		}

		img.partner {
			position: absolute;
			top:0;
			right:0;
			max-width: 5em;

			@media (max-width:$screen-sm) {
				max-width: 4em;
			}
		}
	}

	span.spacer {
		float:right;
		display: block;
		height:3.5em;
		width:12em;
	}
	
	span.callout {
		ul {
			li {
				margin-bottom: 1em;

				&:before {
					display: none;
				}
			}
			strong {
				display: block;
			}
		}
	}

	.page-bottom {
		text-align: center;

		.software-logo {
			height:10em;
			position: relative;

			a {	
				z-index: 1;
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
			}

			img {
				position: absolute;
				top:50%;
				left:50%;
				transform:translate(-50%, -50%);
				width:100%;
				padding:0 25%;

				@media (max-width:$screen-sm) {
					position: relative;
					padding: 30%;
				}
			}
		}
	}
}











