
/*==========  MIXINS  ==========*/

@mixin mylist($color) {
	list-style-type: none;

  &:before {
    margin:0 0.5em 0 -0.5em;
    font-family: FontAwesome;
    content:"\f101";
    color:$color;
  }
}

/*==========  ELEMENTS  ==========*/

div.mod-time {
	background:red;
	padding: 0.5em;
	position: fixed;
	top:0;
	z-index: 100000;
	opacity:0.5;
	color:white;
}

img {
	max-width:100%;
	height:auto;
}

.wrap {
	max-width:2000px;
	margin:0 auto;
}

a {
	color:$primary;

	&:hover {
		color:$primary + 50;
		text-decoration:none;
	}
}

.aligncenter {
	text-align: center;
}

.container {
	padding:0 2em;
}

.space-top {
	padding:8em 0 0 0;
}

.wrapper { // Full width wrapper class
	position: relative;
	padding-bottom:$wrapper-spacing;

	@media (max-width:$screen-sm) {
		// padding-top:5em;
		padding-bottom:5em;
	}

	&.top {
		margin-top: 0;
		padding-top: 0;
	}
}

.sidebar {
	border-left: 2px solid $primary;
	padding-left:2em !important;
}

.breadcrumb {
	margin-bottom:4em;
}

.filler {
	width:100%;
	height:100%;
	background:red;
}

*[type="button"] {
	text-transform:uppercase;
	letter-spacing: 0.05em;
}

/*==========  SEARCH FORM  ==========*/

form.search-form {
	margin:0;

  div.input-group {
    width: 100%;
    // transform: translateY(-50%);

    input {
      border-radius: 0;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color:$gray-base;

      &:focus {
        border-color:$primary;
        box-shadow: inset 0 1px 1px $primary, 0 0 8px $primary; 
      }
    }

    button {
      transition: 0.3s all;
      border-radius: 0;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color:$gray-dark;
    }
  }
}

/* TYPOGRAPHY
---------------------------------------- */
small {
	font-family: Lato, sans-serif;
}

p {
	font-weight:400;
}

h1 {
	font-size: 2.8em;
}

h2 {
	font-size: 2.3em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.8em;
}

a,li,button {
	font-size:1em;
}

p {
	font-size: 1.1em;
}

.large {
	font-size:1.2em;
}

body {
	font-size: 15px;
}

body {

	@media (max-width:$screen-lg) {
		font-size: 14px;
	}

	@media (max-width:$screen-md) {
		font-size: 15px;
	}

	@media (max-width:$screen-sm) {
		font-size: 13px;
	}

	@media (max-width:$screen-xs) {
		font-size: 12px;
	}
}

.light-text { // This is a class for text that is placed on top of a dark background.
	color:$gray-lighter;
}